*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
}

img{
    width: 100%;
}
p{
    font-size: 0.75rem;
}
a{
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
}

header{
    background-color: #000;
    color: #fff;
}

header div{
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper{
    max-width: 940px;
    margin: 0 auto;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}

ul li{
    margin: 0 10px;
}

#hero{
    height: 600px;
    background-image: url(../images/hands-typing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:grayscale(70%);
    align-content: center;
}

h1{
    padding: 10px;
    color: #fff;
    max-width: 60%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 2px #000;
    margin: auto auto;
    text-align: center;
}

.about-me{
    padding: 0 40px;
    display: flex;
}

.about-me h2{
    font-size: 1.75rem;
}

#about-text{
    align-self: center;
    width: 65%;
    /* padding: 40px 0; */
}

.about-me img{
    width: 35%;
}

#services{
    display: grid;
    background-color: #fafafa;
    margin: auto auto;
    padding-top: 30px;
}

#services h2{
    max-width: 100%;
    text-align: center;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.grid article{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
}

.grid a:link, .grid a:visited{
    background-color: #000;
    border: 2px solid #000;
    border-radius: 5px;
    padding: .8em 1em;
    width: 100px;
    margin-top: auto;
}

.grid a:hover{
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 5px;
}

#work{
    padding-bottom: 40px;
}
#work h2{
    text-align: center;
}

#work p{
    text-align: center;
    margin: 0 auto 20px auto;
    width: 70%;
}

#collage{
    padding: 0 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "div1 div1 div1 div2 div2 div2"
    "div3 div3 div4 div4 div5 div5"
    ;
}

#collage img:nth-of-type(1){
    grid-area:div1;
}

#collage img:nth-of-type(2){
    grid-area:div2;
}

#collage img:nth-of-type(3){
    grid-area:div3;
}

#collage img:nth-of-type(4){
    grid-area:div4;
}

#collage img:nth-of-type(5){
    grid-area:div5;
}

footer{
    display: flex;
    background-color: #000;
    color: #fff;
    font-size: 0.65rem;
    height: 40px;
    align-items: center;
    justify-content: center;
}
